<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .wrap
        {
            width: 90%;
            margin: 0% auto;
        }
        .nav
        {
            display: flex;
            justify-content: space-between;
           
            
        }
    </style>
</head>
<body>
    {% if messages %}
    <ul class="messages">    
        {% for message in messages %}    
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
        {% endfor %}
    </ul>
    {% endif %}
    <div class="wrap">
        <div class="nav">
            <div><h1>Helo {{user.fname}} Create a trip</h1></div>

            <div class="lefnav">

                <div id="n1"><a href="">Logout</a></div>
              
            </div>
        </div>
        <hr>
        <div class="newtripbox"></div>
        <form action="/create_wish" method="POST">
            {% csrf_token %}
            <div>
                <p>I wish for : <input type="text" name="makewish"></p>
            </div>
            <div>
                <p>Description : <input type="text" name="description"></p>
               
            </div>
            <div>
                
                <input type="submit" value="Sumbit">
                <a href="/success" role="button">Cancel</a>
            </div>
        </form>
    </div>
    
</body>
</html>